Repository pleisto/mashcard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, yarn design-icons generator, bundle exec rubocop --parallel --force-exclusion, stylelint --cache --fix

.lintstagedrc.json:

{
  "*.{json,yml,yaml,md,graphql,gql,css,less}": ["prettier --write"],
  "**/*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --write"],
  "packages/brickdoc-design-icons/assets/**/*.svg": ["yarn design-icons generator"]
}

.lintstagedrc.yml:

# Lint staged files before committing, see https://github.com/okonet/lint-staged
'*.(ts|tsx|js|jsx)':
  - eslint --cache --fix
  - prettier --write
'*.(json|yml|md|graphql)':
  - prettier --write
'(app|lib|config|gems)/**/*.rb':
  - bundle exec rubocop --parallel --force-exclusion
'*.(css|less)':
  - stylelint --cache --fix
  - prettier --write

Change trunk k8s to new one (#1885)
  .github/workflows/trunk_deploy.yml
Due: prettier --write

chore: upgrade deps (#1887)
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  apps/client-web/package.json
  apps/server-api/package.json
  apps/server-api/src/core/initializers/helmet.register.ts
  package.json
  packages/brickdoc-design-icons/package.json
  packages/brickdoc-design-system/.storybook/main.js
  packages/brickdoc-design-system/package.json
  packages/brickdoc-editor/package.json
  packages/build-support/package.json
  packages/nestjs-redis/package.json
  packages/nestjs-slonik/package.json
  plugins/gcloud/package.json
  plugins/sentry/package.json
  tools/e2e-testing/package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

Chore/upgrade (#1888)
  plugins/gcloud/package.json
  yarn.lock
Due: prettier --write

refactor(server-api): add testing and stream support to blobs (#1891)
  apps/client-web/src/docs/pages/hooks/useSyncProvider.ts
  apps/server-api/src/common/blobs/blobs-local-endpoint.controller.ts
  apps/server-api/src/common/blobs/storage-adaptor/base.storage-adaptor.ts
  apps/server-api/src/common/blobs/storage-adaptor/disk/__tests__/disk.storage-adaptor.test.ts
  apps/server-api/src/common/blobs/storage-adaptor/disk/disk.storage-adaptor.ts
  apps/server-api/src/common/blobs/storage-adaptor/local-base.storage-adaptor.ts
  packages/eslint-plugin-brickdoc/lib/configs/base.js
Due: prettier --write, eslint --cache --fix

fix(rails): fix jemalloc (#1897)
  .github/workflows/pr_preview_env_deploy.yml
  .github/workflows/pr_preview_env_destroy.yml
  .github/workflows/pr_preview_env_gc.yml
  Dockerfile
  Gemfile
  Gemfile.lock
  app/models/space.rb
  lib/brickdoc/crypto.rb
Due: prettier --write

feat(server-api): add upload xml api (#1900)
  apps/server-api/.eslintrc.yml
  apps/server-api/.vscode/settings.json
  apps/server-api/docs/api/modules/core_initializers.md
  apps/server-api/src/common/blobs/__tests__/blobs-local-endpoint.controller.test.ts
  apps/server-api/src/common/blobs/blobs-local-endpoint-flag.interceptor.ts
  apps/server-api/src/common/blobs/blobs-local-endpoint.controller.ts
  apps/server-api/src/common/blobs/blobs-local-endpoint.filter.ts
  apps/server-api/src/common/blobs/blobs.errors.ts
  apps/server-api/src/common/blobs/blobs.fastify-plugin.ts
  apps/server-api/src/common/blobs/blobs.interface.ts
  apps/server-api/src/common/blobs/storage-adaptor/base.storage-adaptor.ts
  apps/server-api/src/common/blobs/storage-adaptor/disk/disk.storage-adaptor.ts
  apps/server-api/src/common/blobs/storage-adaptor/local-base.storage-adaptor.ts
  apps/server-api/src/common/kms/__tests__/kms.service.test.ts
  apps/server-api/src/core/filters/any-exception.filter.ts
  apps/server-api/src/core/initializers/blobs.register.ts
  apps/server-api/src/core/initializers/cookie.register.ts
  apps/server-api/src/core/initializers/helmet.register.ts
  apps/server-api/src/core/initializers/index.ts
  apps/server-api/src/core/initializers/init-check.register.ts
  apps/server-api/src/core/initializers/logger.register.ts
  apps/server-api/src/core/initializers/request-id.register.ts
  apps/server-api/src/core/initializers/session.register.ts
  apps/server-api/src/core/initializers/view-engine.register.ts
  package.json
  plugins/gcloud/package.json
  plugins/gcloud/src/cloud-debug.initializer.hook.ts
  plugins/gcloud/src/gcloud-plugin.module.ts
  yarn.lock
Due: prettier --write, eslint --cache --fix

refactor(server-api): refactor server testing and upgrade deps (#1901)
  apps/client-web/package.json
  apps/server-api/.eslintrc.yml
  apps/server-api/.vscode/settings.json
  apps/server-api/docs/api/modules/common_testing.md
  apps/server-api/jest.global-setup.ts
  apps/server-api/package.json
  apps/server-api/src/common/blobs/__tests__/blobs-local-endpoint.controller.test.ts
  apps/server-api/src/common/server-plugin/__tests__/server-plugin.utils.test.ts
  apps/server-api/src/common/settings/__tests__/settings.service.test.ts
  apps/server-api/src/common/testing/graphql.utils.ts
  apps/server-api/src/common/testing/http.utils.ts
  apps/server-api/src/common/testing/index.ts
  apps/server-api/src/core/healthChecks/__tests__/healtChecks.controller.test.ts
  apps/server-api/src/core/healthChecks/healthChecks.controller.ts
  apps/server-api/src/core/healthChecks/healthChecks.module.ts
  apps/server-api/src/core/healthChecks/postgres.health.ts
  apps/server-api/src/core/healthChecks/redis.health.ts
  apps/server-api/src/core/initializers/init-check.register.ts
  apps/server-api/src/core/metadata/__tests__/metadata.resolver.test.ts
  apps/server-api/src/core/session/__tests__/session.fastify-plugin.test.ts
  apps/server-api/src/core/session/session.fastify-plugin.ts
  codecov.yml
  package.json
  packages/brickdoc-design-system/package.json
  packages/brickdoc-formula/package.json
  packages/brickdoc-uploader/package.json
  packages/eslint-plugin-brickdoc/package.json
  plugins/gcloud/package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: remove blobs table and change license to GPL-3.0-or-later WITH… (#1904)
  .yarnrc.yml
  LICENSE
  README.md
  apps/client-web/package.json
  apps/landing-page/package.json
  apps/server-api/db/migrations/20220505032507-create-blobs.migration.ts
  apps/server-api/db/structure.sql
  apps/server-api/package.json
  apps/server-api/src/cli/utils.ts
  package.json
  packages/brickdoc-design-icons/LICENSE
  packages/brickdoc-design-icons/NOTICE
  packages/brickdoc-design-icons/package.json
  packages/brickdoc-design-system/LICENSE
  packages/brickdoc-design-system/NOTICE
  packages/brickdoc-design-system/package.json
  packages/brickdoc-design-system/src/components/Input/index.tsx
  packages/brickdoc-editor/package.json
  packages/brickdoc-formula/package.json
  packages/brickdoc-schema/package.json
  packages/brickdoc-test-helper/package.json
  packages/brickdoc-uploader/package.json
  packages/build-support/package.json
  packages/dotenv/package.json
  packages/eslint-plugin-brickdoc/package.json
  packages/server-api-crate/LICENSE
  packages/server-api-crate/package.json
  plugins/gcloud/package.json
  tools/e2e-testing/package.json
  tools/schematics/package.json
  yarn.lock
Due: prettier --write, eslint --cache --fix

feat(client): new CollaboratorsMenu (#1892)
  apps/client-web/src/docs/common/components/CollaboratorsMenu/index.style.ts
  apps/client-web/src/docs/common/components/CollaboratorsMenu/index.tsx
  apps/client-web/src/docs/pages/DocumentContentPage.tsx
  apps/client-web/src/docs/pages/Trash.tsx
  apps/client-web/src/docs/pages/components/ContentSidebar/index.tsx
  packages/brickdoc-uploader/src/Dashboard/UnsplashPanel.tsx
Due: prettier --write, eslint --cache --fix

fix(Anchor Mark): fix anchor mark underline style (#1905)
  packages/brickdoc-editor/src/components/extensionViews/BubbleMenu/BubbleMenu.tsx
  packages/brickdoc-editor/src/components/extensionViews/BubbleMenu/index.less
  packages/brickdoc-editor/src/components/extensionViews/SlashMenu/index.less
  packages/brickdoc-editor/src/editors/documentEditor/assets/anchor-line.png
  packages/brickdoc-editor/src/editors/documentEditor/documentEditor.tsx
  packages/brickdoc-editor/src/editors/documentEditor/styled.ts
  packages/brickdoc-editor/src/editors/documentEditor/styles.less
Due: prettier --write, eslint --cache --fix

Fix text selected style (#1907)
  apps/client-web/src/docs/pages/DocumentPage.style.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/Placeholder.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedTypes/Gallery/Gallery.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedTypes/Gallery/styles.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/CardView/CardView.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/CardView/styles.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/ImageView/ImageView.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/ImageView/styles.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/ImageView/useImageState.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/ImageView/useResizable.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/PreviewView/PreviewView.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/TextView/TextView.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/TextView/styles.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/styles.ts
  packages/brickdoc-editor/src/components/blockViews/Spreadsheet/SpreadsheetBlockView.tsx
  packages/brickdoc-editor/src/components/blockViews/Spreadsheet/SpreadsheetView.tsx
  packages/brickdoc-editor/src/components/editorViews/DiscussionList/DiscussionList.tsx
  packages/brickdoc-editor/src/components/editorViews/DiscussionList/DiscussionPanel.tsx
  packages/brickdoc-editor/src/components/editorViews/DiscussionList/styles.ts
  packages/brickdoc-editor/src/components/editorViews/ExplorerMenu/ExplorerMenu.tsx
  packages/brickdoc-editor/src/components/editorViews/ExplorerMenu/styles.ts
  packages/brickdoc-editor/src/components/extensionViews/SlashMenu/SlashMenu.tsx
  packages/brickdoc-editor/src/components/extensionViews/SlashMenu/styles.ts
  packages/brickdoc-editor/src/editors/commentEditor/commentEditor.tsx
  packages/brickdoc-editor/src/editors/commentEditor/styles.ts
  packages/brickdoc-editor/src/editors/documentEditor/documentEditor.tsx
  packages/brickdoc-editor/src/editors/documentEditor/styles.ts
Due: prettier --write, eslint --cache --fix

Add helpers (#1910)
  packages/active-support/src/index.ts
  packages/active-support/src/typescript.ts
  packages/brickdoc-design-system/src/utilities/colors/hsl.ts
  packages/brickdoc-design-system/src/utilities/colors/rgb.ts
  packages/brickdoc-editor/src/components/ui/Icon/index.tsx
  packages/brickdoc-editor/src/editors/documentEditor/styles.ts
  packages/brickdoc-editor/src/extensions/common/common.ts
  packages/brickdoc-editor/src/test/blockView.ts
  packages/brickdoc-editor/src/test/editor.ts
Due: prettier --write, eslint --cache --fix

feature(image-view): add full-width align and zoom-in/zoom-out (#1913)
  config/locales/en-US.yml
  packages/brickdoc-design-icons/assets/edit/align-full.svg
  packages/brickdoc-design-icons/src/icons/AlignFull.tsx
  packages/brickdoc-design-icons/src/icons/Caution.tsx
  packages/brickdoc-design-icons/src/icons/Protect.tsx
  packages/brickdoc-design-icons/src/index.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/__tests__/embedViews/ImageView/useImageState.test.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/__tests__/embedViews/ImageView/useResizable.test.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/__tests__/embedViews/useEmbedToolbarOptions.test.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/EmbedToolbar.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/ImageView/ImageView.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/ImageView/useImageState.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/ImageView/useResizable.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/TextView/styles.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/useEmbedToolbarOptions.tsx
  packages/brickdoc-editor/src/extensions/blocks/embed/meta.ts
Due: prettier --write, eslint --cache --fix, yarn design-icons generator

fix(actions): fix k8s (#1920)
  .github/workflows/pr_preview_env_deploy.yml
  .github/workflows/trunk_deploy.yml
  tools/helm-charts/brickdoc/templates/deployment.yaml
Due: prettier --write

fix: fix sidekiq max threads in production (#1921)
  apps/server-monolith/config/database.yml
  apps/server-monolith/config/puma.rb
  apps/server-monolith/lib/brickdoc/runtime.rb
  package.json
  tools/helm-charts/brickdoc/templates/_containerCommon.tpl
  yarn.lock
Due: prettier --write

fix(plugins): monolith should only load plugin have plugin.rb (#1929)
  .gitignore
  Procfile.dev
  apps/server-monolith/bin/rails
  apps/server-monolith/bin/vite
  apps/server-monolith/lib/brickdoc_plugin.rb
Due: none

Fix image card view (#1915)
  packages/brickdoc-editor/__snapshots__/components/blockViews/BlockContainer/__tests__/BlockContainer.test.tsx.snap
  packages/brickdoc-editor/__snapshots__/components/blockViews/EmbedView/__tests__/EmbedView.test.tsx.snap
  packages/brickdoc-editor/src/components/blockViews/BlockContainer/BlockContainer.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/CardView/CardView.tsx
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/CardView/styles.ts
  packages/brickdoc-editor/src/components/blockViews/EmbedView/embedViews/TextView/styles.ts
  packages/brickdoc-editor/src/components/blockViews/TocView/__tests__/TocView.test.tsx
  packages/brickdoc-editor/src/components/editorViews/DiscussionList/__tests__/useCommentedNodes.test.ts
  packages/brickdoc-editor/src/components/extensionViews/BubbleMenu/__tests__/useBubbleMenuItems.test.ts
  packages/brickdoc-editor/src/context/EditorContext.ts
  packages/brickdoc-editor/src/editors/documentEditor/documentEditor.tsx
  packages/brickdoc-editor/src/hooks/useDocumentEditable.ts
Due: prettier --write, eslint --cache --fix

feat(EmbedView): add EmbedView if an image dropped (#1933)
  packages/brickdoc-editor/src/extensions/blocks/embed/__tests__/dropImageHandler.test.ts
  packages/brickdoc-editor/src/extensions/blocks/embed/__tests__/pasteImageHandler.test.ts
  packages/brickdoc-editor/src/extensions/blocks/embed/dropImageHandler.ts
  packages/brickdoc-editor/src/extensions/blocks/embed/embed.ts
  packages/brickdoc-editor/src/extensions/blocks/embed/pasteImageHandler.ts
  packages/brickdoc-editor/src/extensions/extensions/eventHandler/eventHandler.ts
Due: prettier --write, eslint --cache --fix

feat(@brickdoc/schema): add callback return type to dispatch (#1940)
  packages/brickdoc-formula/src/types/index.ts
  packages/brickdoc-schema/src/events/__tests__/eventBus.test.ts
  packages/brickdoc-schema/src/events/event.ts
  packages/brickdoc-schema/src/events/eventBus.ts
  packages/brickdoc-schema/src/events/types.ts
Due: prettier --write, eslint --cache --fix

fix(client): fix popover position (#1938)
  apps/client-web/src/common/assets/logo_brickdoc_try.svg
  apps/client-web/src/docs/common/components/PageMenu/index.tsx
  apps/client-web/src/docs/common/components/SharePopover/index.tsx
  apps/client-web/src/docs/pages/DocumentContentPage.style.ts
  apps/client-web/src/docs/pages/DocumentContentPage.tsx
  apps/client-web/src/docs/pages/components/DocumentTopBar/DocumentTopBar.style.ts
  apps/client-web/src/docs/pages/components/DocumentTopBar/DocumentTopBar.tsx
Due: prettier --write, eslint --cache --fix

build: fix gemfile parse error in dependabot (#1941)
  .github/workflows/e2e_test.yml
  .github/workflows/linting.yml
  .github/workflows/unit_test.yml
  Dockerfile
  apps/client-web/package.json
  apps/server-monolith/Gemfile
  apps/server-monolith/Gemfile.lock
  apps/server-monolith/config/boot.rb
  apps/server-monolith/lib/brickdoc/lib_brickdoc.bundle
  apps/server-monolith/lib/brickdoc/lib_brickdoc.dylib
  apps/server-monolith/package.json
  docs/SETUP_DEV_ENV.md
  package.json
  packages/brickdoc-design-system/package.json
  yarn.lock
Due: prettier --write

chore: fix incorrent yarn/ruby version declarations (#1944)
  .lintstagedrc.json
  .ruby-version
  apps/server-monolith/package.json
  package.json
  packages/brickdoc-editor/package.json
  yarn.lock
Due: prettier --write

detail fix (#1945)
  apps/client-web/src/docs/common/components/PathBreadcrumb/index.tsx
  apps/client-web/src/docs/pages/DocumentPage.tsx
  apps/client-web/src/docs/pages/components/DocumentTitle/DocumentTitle.tsx
  packages/brickdoc-editor/src/components/extensionViews/SlashMenu/styles.ts
Due: prettier --write, eslint --cache --fix

feat(server): ports crypto utils to rails native extensions (#1949)
  apps/client-web/package.json
  apps/server-monolith/.vscode/settings.json
  apps/server-monolith/Cargo.lock
  apps/server-monolith/Cargo.toml
  apps/server-monolith/Gemfile
  apps/server-monolith/Gemfile.lock
  apps/server-monolith/docs/ext.md
  apps/server-monolith/ext/core_ext/string/mod.rs
  apps/server-monolith/ext/utils/crypto/argon2id.rs
  apps/server-monolith/ext/utils/crypto/blake3.rs
  apps/server-monolith/ext/utils/crypto/mod.rs
  apps/server-monolith/ext/utils/crypto/present/mod.rs
  apps/server-monolith/ext/utils/crypto/present/present80.rs
  apps/server-monolith/ext/utils/encoding/base58.rs
  apps/server-monolith/ext/utils/encoding/base64.rs
  apps/server-monolith/ext/utils/encoding/mod.rs
  apps/server-monolith/ext/utils/encoding/uuid.rs
  apps/server-monolith/ext/utils/encoding/z85.rs
  apps/server-monolith/ext/utils/ffi.rs
  apps/server-monolith/ext/utils/mod.rs
  apps/server-monolith/ext/utils/user_agent.rs
  apps/server-monolith/lib/brickdoc/crypto.rb
  apps/server-monolith/spec/ext/utils/crypto_spec.rb
  apps/server-monolith/spec/lib/brickdoc/crypto_spec.rb
  package.json
  packages/brickdoc-design-system/package.json
  yarn.lock
Due: prettier --write

fix(server): update rustc build target to fix Illegal instruction error (#1952)
  .cargo/config
  apps/server-monolith/.vscode/settings.json
  apps/server-monolith/Gemfile.lock
  apps/server-monolith/config/application.rb
  apps/server-monolith/ext/utils/encoding/base64.rs
  apps/server-monolith/lib/brickdoc.rb
  apps/server-monolith/lib/brickdoc/native_extension_helper.rb
  package.json
  packages/brickdoc-design-system/package.json
  tools/schematics/package.json
  yarn.lock
Due: prettier --write

Refactor font color (#1939)
  apps/server-monolith/config/locales/en-US.yml
  packages/brickdoc-design-system/src/components/Menu/menu.tsx
  packages/brickdoc-editor/__snapshots__/extensions/extensions/fontBgColor/__tests__/fontBgColor.test.tsx.snap
  packages/brickdoc-editor/src/components/blockViews/EmbedView/__tests__/embedViews/ImageView/useImageState.test.ts
  packages/brickdoc-editor/src/components/extensionViews/BubbleMenu/__tests__/useBubbleMenuItems.test.ts
  packages/brickdoc-editor/src/components/extensionViews/BubbleMenu/useBubbleMenuItems/useExtraItemsGroup.tsx
  packages/brickdoc-editor/src/components/extensionViews/BubbleMenu/useBubbleMenuItems/useFontColorGroup.tsx
  packages/brickdoc-editor/src/components/extensionViews/BubbleMenu/useBubbleMenuItems/useNodeGroup.tsx
  packages/brickdoc-editor/src/components/ui/Toolbar/MenuSubMenuItem.tsx
  packages/brickdoc-editor/src/components/ui/Toolbar/Toolbar.tsx
  packages/brickdoc-editor/src/editors/documentEditor/documentEditor.tsx
  packages/brickdoc-editor/src/extensions/base.ts
  packages/brickdoc-editor/src/extensions/extensions/fontBgColor/__tests__/fontBgColor.test.tsx
  packages/brickdoc-editor/src/extensions/extensions/fontBgColor/fontBgColor.ts
  packages/brickdoc-editor/src/extensions/extensions/fontBgColor/index.ts
  packages/brickdoc-editor/src/extensions/extensions/fontBgColor/meta.ts
  packages/brickdoc-editor/src/extensions/extensions/index.ts
Due: prettier --write, eslint --cache --fix

Exp kail (#1953)
  apps/client-web/src/docs/common/components/PageMenu/index.tsx
  apps/client-web/src/docs/common/components/PageTree/index.tsx
  apps/client-web/src/docs/common/components/ShareLinkListItem/index.tsx
  apps/client-web/src/docs/common/components/SharePopover/index.tsx
  apps/client-web/src/docs/common/components/SharePopover/select.style.ts
  apps/client-web/src/docs/pages/DocumentPage.style.ts
  apps/client-web/src/docs/pages/components/DocumentTitle/DocumentTitle.style.ts
  apps/server-monolith/config/locales/en-US.yml
  packages/brickdoc-design-system/src/themes/ceramic-light/lineHeights.ts
  packages/brickdoc-editor/__snapshots__/components/blockViews/CodeBlockView/__tests__/CodeBlockView.test.tsx.snap
  packages/brickdoc-editor/__snapshots__/extensions/blocks/codeBlock/__tests__/codeBlock.test.tsx.snap
  packages/brickdoc-editor/src/components/blockViews/CodeBlockView/CodeBlockView.tsx
  packages/brickdoc-editor/src/components/blockViews/CodeBlockView/styles/highlight.style.ts
  packages/brickdoc-editor/src/components/ui/Toolbar/MenuSubMenuItem.tsx
  packages/brickdoc-editor/src/components/ui/Toolbar/styles/index.style.ts
  packages/brickdoc-editor/src/extensions/blocks/codeBlock/refractor-plugin.ts
Due: prettier --write, eslint --cache --fix

feat(editor): remove wired border (#1958)
  apps/client-web/src/docs/common/components/PageMenu/index.tsx
  packages/brickdoc-editor/src/components/extensionViews/BubbleMenu/BubbleMenu.tsx
Due: prettier --write, eslint --cache --fix
